<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mutt House </title>
    <link href="../static/css/styles.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../static/js/add_dog.js"></script>
</head>

<nav>
    <div class="navbar">
        <img class="nav_logo" src="../static/img/img_logo.png">
        <a class="current-page" href="{{ url_for('dashboard') }}">
            Home
        </a>
    </div>
</nav>

<body>

<h2>Add Dog</h2>

<form action="/go2Adddog" method="post" id="submit_form">

    <div class="container">

        <label for="userID">
            <b>User ID</b>
        </label>
        <input type="text" placeholder="Enter User ID" name="userID" id="login_userID" required>

        <label for="uname">
            <b>Name</b>
        </label>
        <input type="text" placeholder="Enter Name" name="uname" id="login_uname" required>

        <label for="ualterationstatus">
            <b>Alteration Status</b>
        </label>
        <br><br>
        <select name="alteration" id="alteration" required>
            <option value=0>Haven't Been Spayed/Neutered</option>
            <option value=1>Spayed/Neutered</option>
        </select>
        <br><br>

        <label for="uage">
            <b>Age</b>
        </label>
        <input type="text" placeholder="Enter Age" name="uage" id="login_uage" required>

        <label for="usex">
            <b>Sex</b>
        </label>
        <br><br>
        <select name="usex" id="usex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unknown">Unknown</option>
        </select>
        <br><br>


        <label for="udesc">
            <b>Description</b>
        </label>
        <input type="text" placeholder="Enter Description" name="udescription" id="login_udescription" required>

        <label for="umicochipID">
            <b>MicochipID</b>
        </label>
        <input type="text" placeholder="Enter MicochipID" name="umicochipID" id="login_umicochipID">

        <label for="breed">
            <b>Breed</b>
        </label>
        <br><br>
        <form method="POST" id="breed_form">

            <select name="breed" id="breed" multiple class="select-css">
                <option value="Affenpinscher">Affenpinscher</option>
                <option value="Afghan Hound">Afghan Hound</option>
                <option value="Airedale Terrier">Airedale Terrier</option>
                <option value="Akbash Dog">Akbash Dog</option>
                <option value="Akita">Akita</option>
                <option value="Alapaha Blue Blood Bulldog">Alapaha Blue Blood Bulldog</option>
                <option value="Alaskan Husky">Alaskan Husky</option>
                <option value="Alaskan Malamute">Alaskan Malamute</option>
                <option value="American Bulldog">American Bulldog</option>
                <option value="American Eskimo">American Eskimo</option>
                <option value="American Foxhound">American Foxhound</option>
                <option value="American Pit Bull Terrier">American Pit Bull Terrier</option>
                <option value="American Staffordshire Terrier">American Staffordshire Terrier</option>
                <option value="American Water Spaniel">American Water Spaniel</option>
                <option value="Anatolian Shepherd Dog">Anatolian Shepherd Dog</option>
                <option value="Aussiedoodle">Aussiedoodle</option>
                <option value="Australian Cattle Dog">Australian Cattle Dog</option>
                <option value="Australian Kelpie">Australian Kelpie</option>
                <option value="Australian Shepherd">Australian Shepherd</option>
                <option value="Australian Terrier">Australian Terrier</option>
                <option value="Azawakh">Azawakh</option>
                <option value="Basador">Basador</option>
                <option value="Basenji">Basenji</option>
                <option value="Basset Bleu de Gascogne">Basset Bleu de Gascogne</option>
                <option value="Basset Hound">Basset Hound</option>
                <option value="Beagle">Beagle</option>
                <option value="Bearded Collie">Bearded Collie</option>
                <option value="Beauceron">Beauceron</option>
                <option value="Bedlington Terrier">Bedlington Terrier</option>
                <option value="Belgian Laekenois">Belgian Laekenois</option>
                <option value="Belgian Malinois">Belgian Malinois</option>
                <option value="Belgian Sheepdog">Belgian Sheepdog</option>
                <option value="Belgian Tervuren">Belgian Tervuren</option>
                <option value="Bergamasco">Bergamasco</option>
                <option value="Berger Picard">Berger Picard</option>
                <option value="Bernese Mountain Dog">Bernese Mountain Dog</option>
                <option value="Bichon Frise">Bichon Frise</option>
                <option value="Black and Tan Coonhound">Black and Tan Coonhound</option>
                <option value="Black Russian Terrier">Black Russian Terrier</option>
                <option value="Bloodhound">Bloodhound</option>
                <option value="Blue Picardy Spaniel">Blue Picardy Spaniel</option>
                <option value="Bluetick Coonhound">Bluetick Coonhound</option>
                <option value="Boerboel">Boerboel</option>
                <option value="Bolognese">Bolognese</option>
                <option value="Border Collie">Border Collie</option>
                <option value="Border Terrier">Border Terrier</option>
                <option value="Borzoi">Borzoi</option>
                <option value="Boston Terrier">Boston Terrier</option>
                <option value="Bouvier des Flandres">Bouvier des Flandres</option>
                <option value="Boxer">Boxer</option>
                <option value="Boykin Spaniel">Boykin Spaniel</option>
                <option value="Bracco Italiano">Bracco Italiano</option>
                <option value="Briard">Briard</option>
                <option value="Brittany">Brittany</option>
                <option value="Brussels Griffon">Brussels Griffon</option>
                <option value="Bull Terrier">Bull Terrier</option>
                <option value="Bulldog">Bulldog</option>
                <option value="Bullmastiff">Bullmastiff</option>
                <option value="Cairn Terrier">Cairn Terrier</option>
                <option value="Canaan Dog">Canaan Dog</option>
                <option value="Cane Corso">Cane Corso</option>
                <option value="Cardigan Welsh Corgi">Cardigan Welsh Corgi</option>
                <option value="Catahoula Leopard Dog">Catahoula Leopard Dog</option>
                <option value="Caucasian Ovcharka">Caucasian Ovcharka</option>
                <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
                <option value="Cavapom">Cavapom</option>
                <option value="Cavapoo">Cavapoo</option>
                <option value="Cesky Terrier">Cesky Terrier</option>
                <option value="Chart Polski">Chart Polski</option>
                <option value="Chesapeake Bay Retriever">Chesapeake Bay Retriever</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Chinese Crested">Chinese Crested</option>
                <option value="Chinese Shar-Pei">Chinese Shar-Pei</option>
                <option value="Chinook">Chinook</option>
                <option value="Chow Chow">Chow Chow</option>
                <option value="Chug">Chug</option>
                <option value="Cirneco dell'Etna">Cirneco dell'Etna</option>
                <option value="Clumber Spaniel">Clumber Spaniel</option>
                <option value="Cockapoo">Cockapoo</option>
                <option value="Cocker Spaniel">Cocker Spaniel</option>
                <option value="Collie">Collie</option>
                <option value="Coton de Tulear">Coton de Tulear</option>
                <option value="Curly-Coated Retriever">Curly-Coated Retriever</option>
                <option value="Dachshund">Dachshund</option>
                <option value="Dalmatian">Dalmatian</option>
                <option value="Dandie Dinmont Terrier">Dandie Dinmont Terrier</option>
                <option value="Doberman Pinscher">Doberman Pinscher</option>
                <option value="Dogo Argentino">Dogo Argentino</option>
                <option value="Dogue de Bordeaux">Dogue de Bordeaux</option>
                <option value="Doxiepoo">Doxiepoo</option>
                <option value="English Cocker Spaniel">English Cocker Spaniel</option>
                <option value="English Foxhound">English Foxhound</option>
                <option value="English Setter">English Setter</option>
                <option value="English Springer Spaniel">English Springer Spaniel</option>
                <option value="English Toy Spaniel">English Toy Spaniel</option>
                <option value="Entlebucher Mountain Dog">Entlebucher Mountain Dog</option>
                <option value="Eurasier">
                    Eurasier
                </option>
                <option value="Field Spaniel">
                    Field Spaniel
                </option>
                <option value="Fila Brasileiro">
                    Fila Brasileiro
                </option>
                <option value="Finnish Lapphund">
                    Finnish Lapphund
                </option>
                <option value="Finnish Spitz">
                    Finnish Spitz
                </option>
                <option value="Flat-Coated Retriever">
                    Flat-Coated Retriever
                </option>
                <option value="Fox Terrier">
                    Fox Terrier
                </option>
                <option value="French Bulldog">
                    French Bulldog
                </option>
                <option value="German Pinscher">
                    German Pinscher
                </option>
                <option value="German Shepherd Dog">
                    German Shepherd Dog
                </option>
                <option value="German Shorthaired Pointer">
                    German Shorthaired Pointer
                </option>
                <option value="German Spitz">
                    German Spitz
                </option>
                <option value="German Wirehaired Pointer">
                    German Wirehaired Pointer
                </option>
                <option value="Giant Schnauzer">
                    Giant Schnauzer
                </option>
                <option value="Glen of Imaal Terrier">
                    Glen of Imaal Terrier
                </option>
                <option value="Golden Retriever">
                    Golden Retriever
                </option>
                <option value="Goldendoodle">
                    Goldendoodle
                </option>
                <option value="Gordon Setter">
                    Gordon Setter
                </option>
                <option value="Great Dane">
                    Great Dane
                </option>
                <option value="Great Pyrenees">
                    Great Pyrenees
                </option>
                <option value="Greater Swiss Mountain Dog">
                    Greater Swiss Mountain Dog
                </option>
                <option value="Greyhound">
                    Greyhound
                </option>
                <option value="Harrier">
                    Harrier
                </option>
                <option value="Havanese">
                    Havanese
                </option>
                <option value="Ibizan Hound">
                    Ibizan Hound
                </option>
                <option value="Icelandic Sheepdog">
                    Icelandic Sheepdog
                </option>
                <option value="Irish Red and White Setter">
                    Irish Red and White Setter
                </option>
                <option value="Irish Setter">
                    Irish Setter
                </option>
                <option value="Irish Terrier">
                    Irish Terrier
                </option>
                <option value="Irish Water Spaniel">
                    Irish Water Spaniel
                </option>
                <option value="Irish Wolfhound">
                    Irish Wolfhound
                </option>
                <option value="Italian Greyhound">
                    Italian Greyhound
                </option>
                <option value="Jack Russell Terrier">
                    Jack Russell Terrier
                </option>
                <option value="Japanese Chin">
                    Japanese Chin
                </option>
                <option value="Keeshond">
                    Keeshond
                </option>
                <option value="Kerry Blue Terrier">
                    Kerry Blue Terrier
                </option>
                <option value="Komondor">
                    Komondor
                </option>
                <option value="Kooikerhondje">
                    Kooikerhondje
                </option>
                <option value="Kromfohrlander">
                    Kromfohrlander
                </option>
                <option value="Kuvasz">
                    Kuvasz
                </option>
                <option value="Labradoodle">
                    Labradoodle
                </option>
                <option value="Labrador Retriever">
                    Labrador Retriever
                </option>
                <option value="Lacy Dog">
                    Lacy Dog
                </option>
                <option value="Lagotto Romagnolo">
                    Lagotto Romagnolo
                </option>
                <option value="Lakeland Terrier">
                    Lakeland Terrier
                </option>
                <option value="Large Munsterlander">
                    Large Munsterlander
                </option>
                <option value="Leonberger">
                    Leonberger
                </option>
                <option value="Lhasa Apso">
                    Lhasa Apso
                </option>
                <option value="Lhasapoo">
                    Lhasapoo
                </option>
                <option value="Longdog">
                    Longdog
                </option>
                <option value="Lowchen">
                    Lowchen
                </option>
                <option value="Lurcher">
                    Lurcher
                </option>
                <option value="Maltese">
                    Maltese
                </option>
                <option value="Maltipoo">
                    Maltipoo
                </option>
                <option value="Manchester Terrier">
                    Manchester Terrier
                </option>
                <option value="Mastiff">
                    Mastiff
                </option>
                <option value="Miniature American Shepherd">
                    Miniature American Shepherd
                </option>
                <option value="Miniature Bull Terrier">
                    Miniature Bull Terrier
                </option>
                <option value="Miniature Pinscher">
                    Miniature Pinscher
                </option>
                <option value="Miniature Schnauzer">
                    Miniature Schnauzer
                </option>
                <option value="Mudi">
                    Mudi
                </option>
                <option value="Neapolitan Mastiff">
                    Neapolitan Mastiff
                </option>
                <option value="Newfoundland">
                    Newfoundland
                </option>
                <option value="Norfolk Terrier">
                    Norfolk Terrier
                </option>
                <option value="Norwegian Buhund">
                    Norwegian Buhund
                </option>
                <option value="Norwegian Elkhound">
                    Norwegian Elkhound
                </option>
                <option value="Norwegian Lundehund">
                    Norwegian Lundehund
                </option>
                <option value="Norwich Terrier">
                    Norwich Terrier
                </option>
                <option value="Nova Scotia Duck Tolling Retriever">
                    Nova Scotia Duck Tolling Retriever
                </option>
                <option value="Old English Sheepdog">
                    Old English Sheepdog
                </option>
                <option value="Otterhound">
                    Otterhound
                </option>
                <option value="Papillon">
                    Papillon
                </option>
                <option value="Pekeapoo">
                    Pekeapoo
                </option>
                <option value="Pekingese">
                    Pekingese
                </option>
                <option value="Pembroke Welsh Corgi">
                    Pembroke Welsh Corgi
                </option>
                <option value="Perro de Presa Canario">
                    Perro de Presa Canario
                </option>
                <option value="Peruvian Inca Orchid">
                    Peruvian Inca Orchid
                </option>
                <option value="Petit Basset Griffon Vendeen">
                    Petit Basset Griffon Vendeen
                </option>
                <option value="Pharaoh Hound">
                    Pharaoh Hound
                </option>
                <option value="Plott">
                    Plott
                </option>
                <option value="Pointer">
                    Pointer
                </option>
                <option value="Polish Lowland Sheepdog">
                    Polish Lowland Sheepdog
                </option>
                <option value="Pomapoo">
                    Pomapoo
                </option>
                <option value="Pomeranian">
                    Pomeranian
                </option>
                <option value="Pomsky">
                    Pomsky
                </option>
                <option value="Poodle">
                    Poodle
                </option>
                <option value="Portuguese Podengo">
                    Portuguese Podengo
                </option>
                <option value="Portuguese Water Dog">
                    Portuguese Water Dog
                </option>
                <option value="Pug">
                    Pug
                </option>
                <option value="Pugapoo">
                    Pugapoo
                </option>
                <option value="Puggle">
                    Puggle
                </option>
                <option value="Puli">
                    Puli
                </option>
                <option value="Pumi">
                    Pumi
                </option>
                <option value="Pyrenean Shepherd">
                    Pyrenean Shepherd
                </option>
                <option value="Rat Terrier">
                    Rat Terrier
                </option>
                <option value="Redbone Coonhound">
                    Redbone Coonhound
                </option>
                <option value="Rhodesian Ridgeback">
                    Rhodesian Ridgeback
                </option>
                <option value="Rottweiler">
                    Rottweiler
                </option>
                <option value="Russian Toy">
                    Russian Toy
                </option>
                <option value="Saint Bernard">
                    Saint Bernard
                </option>
                <option value="Saluki">
                    Saluki
                </option>
                <option value="Samoyed">
                    Samoyed
                </option>
                <option value="Schapendoes">
                    Schapendoes
                </option>
                <option value="Schipperke">
                    Schipperke
                </option>
                <option value="Schnoodle">
                    Schnoodle
                </option>
                <option value="Scottish Deerhound">
                    Scottish Deerhound
                </option>
                <option value="Scottish Terrier">
                    Scottish Terrier
                </option>
                <option value="Sealyham Terrier">
                    Sealyham Terrier
                </option>
                <option value="Shetland Sheepdog">
                    Shetland Sheepdog
                </option>
                <option value="Shiba Inu">
                    Shiba Inu
                </option>
                <option value="Shih Tzu">
                    Shih Tzu
                </option>
                <option value="Shihpoo">
                    Shihpoo
                </option>
                <option value="Siberian Husky">
                    Siberian Husky
                </option>
                <option value="Silken Windhound">
                    Silken Windhound
                </option>
                <option value="Silky Terrier">
                    Silky Terrier
                </option>
                <option value="Skye Terrier">
                    Skye Terrier
                </option>
                <option value="Sloughi">
                    Sloughi
                </option>
                <option value="Small Munsterlander Pointer">
                    Small Munsterlander Pointer
                </option>
                <option value="Soft Coated Wheaten Terrier">
                    Soft Coated Wheaten Terrier
                </option>
                <option value="Spanish Greyhound">
                    Spanish Greyhound
                </option>
                <option value="Spanish Water Dog">
                    Spanish Water Dog
                </option>
                <option value="Spinone Italiano">
                    Spinone Italiano
                </option>
                <option value="Sprollie">
                    Sprollie
                </option>
                <option value="Staffordshire Bull Terrier">
                    Staffordshire Bull Terrier
                </option>
                <option value="Standard Schnauzer">
                    Standard Schnauzer
                </option>
                <option value="Sussex Spaniel">
                    Sussex Spaniel
                </option>
                <option value="Swedish Lapphund">
                    Swedish Lapphund
                </option>
                <option value="Swedish Vallhund">
                    Swedish Vallhund
                </option>
                <option value="Thai Ridgeback">
                    Thai Ridgeback
                </option>
                <option value="Tibetan Mastiff">
                    Tibetan Mastiff
                </option>
                <option value="Tibetan Spaniel">
                    Tibetan Spaniel
                </option>
                <option value="Tibetan Terrier">
                    Tibetan Terrier
                </option>
                <option value="Tosa Ken">
                    Tosa Ken
                </option>
                <option value="Toy Fox Terrier">
                    Toy Fox Terrier
                </option>
                <option value="Toy Poodle">
                    Toy Poodle
                </option>
                <option value="Treeing Walker Coonhound">
                    Treeing Walker Coonhound
                </option>
                <option value="Vizsla">
                    Vizsla
                </option>
                <option value="Volpino Italiano">
                    Volpino Italiano
                </option>
                <option value="Weimaraner">
                    Weimaraner
                </option>
                <option value="Welsh Springer Spaniel">
                    Welsh Springer Spaniel
                </option>
                <option value="Welsh Terrier">
                    Welsh Terrier
                </option>
                <option value="West Highland White Terrier">
                    West Highland White Terrier
                </option>
                <option value="Whippet">
                    Whippet
                </option>
                <option value="Wirehaired Pointing Griffon">
                    Wirehaired Pointing Griffon
                </option>
                <option value="Wirehaired Vizsla">
                    Wirehaired Vizsla
                </option>
                <option value="Xoloitzcuintli">
                    Xoloitzcuintli
                </option>
                <option value="Yorkipoo">
                    Yorkipoo
                </option>
                <option value="Yorkshire Terrier">
                    Yorkshire Terrier
                </option>
                <option value="Mixed">
                    Mixed
                </option>
                <option value="Unknown">
                    Unknown
                </option>

            </select>
        </form>
        <br><br>

        <label for="usurrenderDate">
            <b>SurrenderDate (Format: YYYY-MM-DD)</b>
        </label>
        <input type="text" placeholder="Enter SurrenderDate" name="usurrenderDate" id="login_usurrenderDate"
               required>

        <label for="usurrenderReason">
            <b>Surrender Reason</b>
        </label>
        <input type="text" placeholder="Enter SurrenderReason" name="usurrenderReason" id="login_usurrenderReason"
               required>

        <label for="usurrenderbyanimalcontrol">
            <b>Surrender By Animal Control</b>
        </label>
        <br><br>
        <select name="surrenderbyAnimalControl" id="surrenderbyAnimalControl" required>
            <option value=0>No</option>
            <option value=1>Yes</option>
        </select>
        <br><br>

        <input type="submit" id="login_button" value="Submit">
    </div>
</form>

<hr>
<h3>Note: when you use this page to add the dog, some attributes are required:</h3>
<ul>
    <li style="font-size:11pt">User ID: it corresponds to the user email address.
    </li>
    <li style="font-size:11pt">Name: name of the dog.
    </li>
    <li style="font-size:11pt">Alteration Status: whether the dog is spayed/neutered when it is surrendered.
    </li>
    <li style="font-size:11pt">Age: the age of the dog when it is surrendered.
    </li>
    <li style="font-size:11pt">Description: this include a description of a dog, any health concerns or other details.
    </li>
    <li style="font-size:11pt">Alteration Status: whether the dog is spayed/neutered when it is surrendered.
    </li>
    <li style="font-size:11pt">Surrender Date: the date when this dog is surrendered to the shelter.
    </li>
    <li style="font-size:11pt">Surrender Reason: the reason is required.
    </li>
    </li>
    <li style="font-size:11pt">Surrender By Animal Control: a flag variable whether this dog is surrendered by animal
        control department.
    </li>

</ul>
<hr>

<div id="logg_info"></div>

<script src="../static/js/add_dog.js"></script>

<div class="footer">
    <p>Copyright © 2020 All right reserved</p>
</div>
</body>
</html>
