<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Mutt House </title>
        <link href="../static/css/styles.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="../static/js/add_adoption_application.js"></script>
    </head>

    <nav>
        <div class="navbar">
            <img class="nav_logo" src="../static/img/img_logo.png">
            <a class="current-page" href="{{ url_for('dashboard') }}">
                Home
            </a>
        </div>
    </nav>

<body>
    <h2>Add Adoption Application</h2>

    <form method="post" id="add_form">

        <div class="container">

            <label for="email">
                <b>Email</b>
            </label>
            <input type="text" placeholder="Enter Email" name="email" id="login_email" required>

            <label for="firstname">
                <b>First Name</b>
            </label>
            <input type="text" placeholder="Enter Frist Name" name="firstname" id="login_firstname" required>

            <label for="lastname">
                <b>Last Name</b>
            </label>
            <input type="text" placeholder="Enter Last Name" name="lastname" id="login_lastname" required>

            <label for="co_applicant_first_name">
                <b>Co-Applicant's First Name</b>
            </label>
            <input type="text" placeholder="Enter Co-Applicant's Frist Name" name="co_applicant_first_name" id="login_co_applicant_first_name">

            <label for="co_applicant_last_name">
                <b>Co-Applicant's Last Name</b>
            </label>
            <input type="text" placeholder="Enter Co-Applicant's Last Name" name="co_applicant_last_name" id="login_co_applicant_last_name">

            <label for="date">
                <b>Date</b>
            </label>
            <input type="text" placeholder="Enter Date" name="state" id="login_date" required>

            <label for="state">
                <b>State</b>
            </label>
            <input type="text" placeholder="Enter State" name="state" id="login_state" required>

            <label for="city">
                <b>City</b>
            </label>
            <input type="text" placeholder="Enter City" name="city" id="login_city" required>

            <label for="street">
                <b>Street</b>
            </label>
            <input type="text" placeholder="Enter Street" name="street" id="login_street" required>

            <label for="cellphone">
                <b>Cell Phone</b>
            </label>
            <input type="text" placeholder="Enter Cell Phone" name="cellphone" id="login_cellphone" required>

            <label for="zipcode">
                <b>ZipCode</b>
            </label>
            <input type="text" placeholder="Enter Zip Code" name="zipcode" id="login_zipcode" required>

            <input type="submit" id="login_button" value="Submit">
        </div>
    </form>

    <div id="add_info"></div>

    <script src="../static/js/add_adoption_application.js"></script>

    <div class="footer">
        <p>Copyright © 2020 All right reserved</p>
    </div>
</body>
</html>
